* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

header h1 {
    font-size: 60px;
    padding: 20px 40px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;
}

form input {
    margin: 20px 40px;
    font-size: 30px;
    text-align: center;
}

#currentWeather {
    width: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 5px;
    padding: 5px;
    grid-auto-flow: column;
}

#currentWeatherTitle,
#currentTempBox,
#currentFeelsLikeBox,
#currentHighBox,
#currentLowBox {
    background-color: blue;
    grid-row: span 2;
}

#currentIconBox,
#currentDescriptionBox,
#currentHumidityBox,
#currentWindBox,
#currentVisibilityBox,
#currentSunriseSunsetBox {
    grid-row: span 5;
    background-color: red;
}

#currentWeatherTitle,
#currentTempBox,
#currentFeelsLikeBox,
#currentHighBox,
#currentLowBox,
#currentIconBox,
#currentDescriptionBox,
#currentHumidityBox,
#currentWindBox,
#currentVisibilityBox,
#currentSunriseSunsetBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fiveDayForcast {
    width: 100%;
    background-color: lightslategray;
    display: flex;
    flex-direction: row;

}

#fiveDayForcast>div {
    width: 400px;
    height:300px;
    padding: 20px 0;
    text-align:center;
    border:1px solid red;
}
#fiveDayForcast{

}
#fiveDayForcast>div>ul>li {

    list-style: none;

}

/*.five-day-forcast-day:hover{
    width:22%;
    height:100%;
}*/

footer {
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 20px;
    padding: 12px;
}