* {
    box-sizing: border-box;
    font-family: sans-serif;
    
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(63, 85, 147);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 197, 229);
    margin-top: 5px;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 60px;

    padding: 20px 40px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 168, 216);
}

form input {
    margin: 20px 40px;
    font-size: 30px;
    text-align: center;
}

#currentWeather {
    width: 100%;

    display: grid;
    grid-gap: 5px;
    padding: 5px;
    background-color: rgb(63, 85, 147);
}

#currentWeatherTitle,
#currentTempBox,
#currentFeelsLikeBox,
#currentHighBox,
#currentLowBox {
    background-color: #eee;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#currentIconBox,
#currentDescriptionBox,
#currentHumidityBox,
#currentVisibilityBox,
#currentSunriseSunsetBox,
#currentSunriseBox,
#currentSunsetBox {
    background-color: #ddf;
    display:flex;
    justify-content: center;
    align-items: center;
}
#currentDescriptionBox,
#currentHumidityBox,
#currentVisibilityBox,
#currentSunriseBox,
#currentSunsetBox{
    display:flex;
    flex-direction: column;
    font-size:25px;
}
#currentIconBox img{
    width:60%;
}
@media only screen and (min-width:501px) {
    #currentWeather {
        width: 100%;

        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);

        grid-auto-flow: column;

    }

    #currentWeatherTitle,
    #currentTempBox,
    #currentFeelsLikeBox,
    #currentHighBox,
    #currentLowBox {
        height: 80px;

        grid-row: span 2;
    }

    #currentIconBox,
    #currentDescriptionBox,
    #currentHumidityBox,
    #currentVisibilityBox,
    #currentSunriseSunsetBox,
    #currentSunriseBox,
    #currentSunsetBox {
        grid-row: span 5;

    }
}

@media only screen and (max-width:500px) {
    header {

        display: flex;
        flex-direction: column;
    }

    header h1 {
        font-size: 35px;
    }

    form input {
        margin: 5px;
        font-size: 20px;
    }

    #currentWeather {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    #currentWeatherTitle,
    #currentTempBox,
    #currentFeelsLikeBox,
    #currentHighBox,
    #currentLowBox {

        grid-row: span 1;
        grid-column: span 3;

    }

    #currentIconBox,
    #currentDescriptionBox,
    #currentHumidityBox,
    #currentVisibilityBox,
    #currentSunriseSunsetBox,
    #currentSunriseBox,
    #currentSunsetBox {
        grid-row: span 2;
        grid-column: span 1;

    }
}

/*
out of date
#fiveDayForcast {
    width: 100%;
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
}

#fiveDayForcast>div {
    width: 400px;
    height:300px;
    padding: 20px 0;
    text-align:center;
    
}
#fiveDayForcast>div:hover{
    background-color:gold;
}*/

#fiveDayForcast2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    background-color: #eef;
    
}
.five-day-forcast-date{
    border: 1px solid #ddd;
    width:500px;
    padding:8px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width:500px){
    .five-day-forcast-date{
        width:100%;
    }

}
.five-day-forcast-date h3{
    font-size:25px;
}
.five-day-forcast-date th{
    border-bottom: 1px dashed #aaa;
}
.five-day-forcast-date th,
.five-day-forcast-date td{
    padding: 3px;
    border-left:1px dashed #aaa;
    text-align: center;
}
.five-day-forcast-date th:first-of-type,
.five-day-forcast-date td:first-of-type{
    border-left:none;
}




/*.five-day-forcast-day:hover{
    width:22%;
    height:100%;
}*/

footer {
    width: 100%;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a:link,
footer a:visited {
    font-size: 20px;
    padding: 12px;
    color: #222;
    text-decoration: none;
}

footer a:hover {
    color: whitesmoke;
    text-decoration: underline;
}